body {
    margin: 0 auto;
    text-align: center;
    background-color: #f7f4bf;
    color: #1500FF;
    font-family: 'Roboto', sans-serif;
}

h1 {
    padding-top: 4px;
    font-size: 20px;
    line-height: 20px;
    margin: auto; 
}

h4 {
    margin: 0 auto;
    padding: 0;
}

#logo {
    max-width: 32vw;
    margin: auto;
    padding-top: 0;
    padding-bottom: 4px;
}

#playArea {
    border-top: 5px solid #1500FF;
    border-bottom: 5px solid #1500FF;
    height: 25vh;
    background-color: #D1070C;
    background-image: url('assets/daredabg.png');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 10px 5px;
    display: flex;
    justify-content: space-evenly;
}

#right-answers {
    order: 1;
    width: 50%;
    justify-self: center;
    display: flex;
    flex-direction: column;
}

.answerList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.answers {
    margin-bottom: 2px;
}

#left-pkmn {
    order: -1;
    align-self: center;
    width: 50%;
}

.silhouette {
    filter: brightness(0%);
    width: 35vw;
}

h2 {
    font-size: 20px;
}

#question {
    padding: 5px 0;
    font-size: 20px;
    border: 3px solid #1500FF;
    background-color: #FFCB05;
    border-radius: 48px;
}

button {
    padding: 2px;
    font-size: 18px;
    line-height: 28px;
    align-self: center;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #155531;
    transition-duration: 0.2s;
    border: none;
    text-transform: capitalize;
}

button:hover {
    background-color: #23864e;
}

.qmDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.qm {
    animation: pulse 1.2s infinite;
}

@keyframes pulse {
    0%, 100% {
        width: 25%;
        height: 25%;
    }
    50% {
        width: 35%;
        height: 35%;
    }
}

#round-score {
    margin: 0 auto;
    width: 100%;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #000000;
    border-bottom: 3px solid #1500FF;
}

p {
    padding: 0 10px;
    color: #000000;
}

footer {
    padding: 20px 10px;
    color: white;
    background-color: black;
}

@media screen and (min-width: 500px) {
    h1 {
        font-size: 32px;
        line-height: 32px;
    }

    #playArea {
        border-top: 8px solid #1500FF;
        border-bottom: 8px solid #1500FF;
        height: 300px;
    }

    .answers {
        margin-bottom: 4px;
    }

    #question {
        font-size: 24px;
        border: 5px solid #1500FF;
    }

    button {
        font-size: 28px;
        line-height: 42px;
    }

    #round-score {
        font-size: 24px;
        border-bottom: 5px solid #1500FF;
    }

    h2 {
        font-size: 32px;
    }

    p {
        font-size: 24px;
    }
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 42px;
        line-height: 42px;
    }

    #logo {
        max-width: 25vw;
    }

    main {
        margin: 0 auto;
        max-width: 85%;
        border: 5px solid #1500FF;
        border-radius: 15px;
    }

    #playArea {
        border-top: none;
        height: 350px;
    }

    .answers {
        font-size: 32px;
        line-height: 46px;
        margin-bottom: 6px;
    }

    #question {
        font-size: 32px;
        border: 5px solid #1500FF;
    }

    .silhouette {
        max-width: 25vw;
    }

    #round-score {
        font-size: 32px;
    }

    p {
        font-size: 32px;
    }

    footer {
        margin-top: 10px;
    }
}

@media screen and (min-width: 1200px) {
    .silhouette {
        max-width: 20vw;
    }
}

@media screen and (min-width: 1800px) {
    .answers {
        margin-bottom: 8px;
    }

    .silhouette {
        max-width: 12vw;
    }

    button {
        font-size: 38px;
        line-height: 52px;
    }
}